<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `orders`(`number`, `status`, `user_id`, `address_book_id`, `order_time`, `checkout_time`,
                             `pay_method`, `amount`, `remark`, `user_name`, `phone`, `address`, `consignee`,
                             `cancel_reason`, `rejection_reason`, `cancel_time`, `estimated_delivery_time`,
                             `delivery_status`, `delivery_time`, `pack_amount`, `tableware_number`, `tableware_status`)
        VALUES (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{amount}, #{remark}, #{userName}, #{phone}, #{address}, #{consignee}, #{cancelReason},
                #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{deliveryTime},
                #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <update id="update" parameterType="com.sky.entity.Orders">
        update orders
        <set>
            <if test="cancelReason != null and cancelReason!='' "> cancel_reason=#{cancelReason}, </if>
            <if test="rejectionReason != null and rejectionReason!='' "> rejection_reason=#{rejectionReason}, </if>
            <if test="cancelTime != null"> cancel_time=#{cancelTime}, </if>
            <if test="payStatus != null"> pay_status=#{payStatus}, </if>
            <if test="payMethod != null"> pay_method=#{payMethod}, </if>
            <if test="checkoutTime != null"> checkout_time=#{checkoutTime}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="deliveryTime != null"> delivery_time = #{deliveryTime} </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectList" resultType="com.sky.entity.Orders">
        SELECT *
        FROM `orders`
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="number != null">
                AND `number` = #{number}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
            <if test="userId != null">
                AND `user_id` = #{userId}
            </if>
            <if test="addressBookId != null">
                AND `address_book_id` = #{addressBookId}
            </if>
            <if test="payMethod != null">
                AND `pay_method` = #{payMethod}
            </if>
            <if test="amount != null">
                AND `amount` = #{amount}
            </if>
            <if test="remark != null">
                AND `remark` LIKE CONCAT('%',#{remark},'%')
            </if>
            <if test="userName != null">
                AND `user_name` LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="phone != null">
                AND `phone` = #{phone}
            </if>
            <if test="address != null">
                AND `address` LIKE CONCAT('%',#{address},'%')
            </if>
            <if test="consignee != null">
                AND `consignee` LIKE CONCAT('%',#{consignee},'%')
            </if>
            <if test="deliveryStatus != null">
                AND `delivery_status` = #{deliveryStatus}
            </if>
        </where>
        ORDER BY `status` ASC
    </select>
</mapper>