<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
    <resultMap id="setmealVOResultMap" type="com.sky.vo.SetmealVO">
        <id column="id" property="id"/>
        <collection ofType="setmealDish" property="setmealDishes">
            <id column="setmeal_dish_id" property="id"/>
            <result column="id" property="setmealId"/>
            <result column="dish_name" property="name"/>
            <result column="dish_price" property="price"/>
        </collection>
    </resultMap>

    <update id="update">
        UPDATE `setmeal`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="categoryId != null">`category_id` = #{categoryId},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="description != null">`description` = #{description},</if>
            <if test="image != null">`image` = #{image},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="updateUser != null">`update_user` = #{updateUser},</if>
        </set>
        WHERE `id` = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `setmeal`
        (`name`, `category_id`, `price`, `status`, `description`, `image`, `create_time`, `create_user`, `update_time`, `update_user`)
        VALUES
        (#{name}, #{categoryId}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser})
    </insert>

    <sql id="setmealWhere">
        <where>
            <if test="id != null">AND `setmeal`.id = #{id}</if>
            <if test="categoryId != null">AND `setmeal`.category_id = #{categoryId}</if>
            <if test="name != null">AND `setmeal`.name LIKE CONCAT('%',#{name},'%')</if>
            <if test="status != null">AND `setmeal`.status = #{status}</if>
            <if test="price != null">AND `setmeal`.price = #{price}</if>
            <if test="description != null">AND `setmeal`.description LIKE CONCAT('%',#{description},'%')</if>
        </where>
    </sql>

    <select id="selectWithCategory" resultType="com.sky.vo.SetmealVO">
        SELECT `setmeal`.*, `category`.name AS `category_name`
        FROM `setmeal`
                 LEFT JOIN `category`
                           ON `setmeal`.category_id = `category`.id
        <include refid="setmealWhere"/>
        ORDER BY `setmeal`.create_time DESC
    </select>

    <sql id="foreachIds">
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </sql>

    <delete id="deleteBatch">
        DELETE
        FROM `setmeal`
        WHERE `id` IN
        <include refid="foreachIds"/>
    </delete>

    <select id="selectByIds" resultType="setmeal">
        SELECT *
        FROM `setmeal`
        WHERE `id` IN
        <include refid="foreachIds"/>
    </select>

    <select id="selectWithCategoryAndDish" resultMap="setmealVOResultMap">
        SELECT `setmeal`.*,
               `category`.name AS `category_name`,
               `setmeal_dish`.id AS `setmeal_dish_id`,
               `setmeal_dish`.dish_id AS `dish_id`,
               `setmeal_dish`.name AS `dish_name`,
               `setmeal_dish`.copies AS `copies`,
               `setmeal_dish`.price AS `dish_price`

        FROM `setmeal`
                 LEFT JOIN `category`
                           ON `setmeal`.category_id = `category`.id
                 LEFT JOIN `setmeal_dish`
                           ON `setmeal`.id = `setmeal_dish`.setmeal_id
        <include refid="setmealWhere"/>
        ORDER BY `setmeal`.create_time DESC
    </select>

    <select id="selectList" resultType="setmeal">
        SELECT *
        FROM `setmeal`
        <include refid="setmealWhere"/>
        ORDER BY `setmeal`.update_time DESC
    </select>
</mapper>