<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">

    <select id="getByOpenId" resultType="user">
        SELECT * FROM user WHERE openid = #{openid}
    </select>
    <select id="selectList" resultType="user">
        SELECT *
        FROM `user`
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
            <if test="name != null">
                `name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="phone != null">
                `phone` = #{phone}
            </if>
            <if test="sex != null">
                `sex` = #{sex}
            </if>
            <if test="idNumber != null">
                `id_number` = #{idNumber}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`(`openid`, `name`, `phone`, `sex`, `id_number`, `avatar`, `create_time`)
        VALUES (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>
</mapper>